.for-pets {
  &__btn {
    @include pet-button;
    border: 1rem solid black;
  }

  &__text {
    white-space: nowrap;
    font-size: 14rem;
  }
  &__arrow {
    width: 15rem;
    height: 15rem;
  }
}