//// Default styles
//@import "../src/assets/styles/scss/default/variables";
//@import "../src/assets/styles/scss/default/fonts";
//@import "../src/assets/styles/scss/default/reset";
//@import "../src/assets/styles/scss/default/mixins";
//
//// Mobile styles for components
//@import "../src/assets/styles/scss/components/base/buttons/for-pet-long-btn";
//@import "../src/assets/styles/scss/components/base/buttons/for-pet-short-btn";
//@import "../src/assets/styles/scss/components/base/footer/cards";
//@import "../src/assets/styles/scss/components/base/footer/footer";
//@import "../src/assets/styles/scss/components/base/footer/information-panel";
//@import "../src/assets/styles/scss/components/base/footer/links";
//@import "../src/assets/styles/scss/components/base/footer/subscribe";
//@import "../src/assets/styles/scss/components/base/header/header";
//@import "../src/assets/styles/scss/components/base/header/logo";
//@import "../src/assets/styles/scss/components/base/header/navbar";
//@import "../src/assets/styles/scss/components/base/header/sidebar";
//@import "../src/assets/styles/scss/components/base/header/tools";
//@import "../src/assets/styles/scss/components/base/amount";
//@import "../src/assets/styles/scss/components/base/product-container";
//@import "../src/assets/styles/scss/components/base/arrow";
//@import "../src/assets/styles/scss/components/base/pagination";
//@import "../src/assets/styles/scss/components/base/preloader";
//@import "../src/assets/styles/scss/components/catalog/category-filter";
//@import "../src/assets/styles/scss/components/catalog/pets-filter";
//@import "../src/assets/styles/scss/components/catalog/product-list";
//@import "../src/assets/styles/scss/components/catalog/sort-by";
//@import "../src/assets/styles/scss/components/reviews-item";
//@import "../src/assets/styles/scss/components/product/product-body";
//@import "../src/assets/styles/scss/components/product/add-review";
//@import "../src/assets/styles/scss/components/product/switch";
//@import "../src/assets/styles/scss/components/product/product-review";
//@import "../src/assets/styles/scss/components/product/similar-products";
//@import "../src/assets/styles/scss/components/product/product-characteristics";
//@import "../src/assets/styles/scss/components/product-item";
//
//// Mobile styles for pages
//@import "../src/assets/styles/scss/pages/home-page";
//@import "../src/assets/styles/scss/pages/catalog-page";
//
//// Media for tablet and desktop
//@import "../src/assets/styles/scss/media/base/buttons/for-pet-long-btn-media";
//@import "../src/assets/styles/scss/media/base/buttons/for-pet-short-btn-media";
//@import "../src/assets/styles/scss/media/base/footer/cards-media";
//@import "../src/assets/styles/scss/media/base/footer/footer-media";
//@import "../src/assets/styles/scss/media/base/footer/information-panel-media";
//@import "../src/assets/styles/scss/media/base/footer/links-media";
//@import "../src/assets/styles/scss/media/base/footer/subscribe-media";
//@import "../src/assets/styles/scss/media/base/header/header-media";
//@import "../src/assets/styles/scss/media/base/header/logo-media";
//@import "../src/assets/styles/scss/media/base/header/navbar-media";
//@import "../src/assets/styles/scss/media/base/header/sidebar-media";
//@import "../src/assets/styles/scss/media/base/header/tools-media";
//@import "../src/assets/styles/scss/media/base/arrow-media";
//@import "../src/assets/styles/scss/media/catalog/category-filter-media";
//@import "../src/assets/styles/scss/media/catalog/pets-filter-media";
//@import "../src/assets/styles/scss/media/catalog/product-list-media";
//@import "../src/assets/styles/scss/media/catalog/sort-by-media";
//@import "../src/assets/styles/scss/media/reviews-item-media";
//@import "../src/assets/styles/scss/media/product-item-media";

html,
body {
  font-size: $text-size-mobile;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  color: $black;
  background-color: $white;
}
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.paw-shop {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.error-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
  &__status-code {
    font-size: 100rem;
    font-weight: 700;
  }
  &__message {
    font-size: 30rem;
  }
}

.content {
  grid-column: 1/2;
  grid-row: 2/3;
}

.error {
  font-size: 14rem;
  border: 1rem solid $error;
  padding: 8rem 13rem;
  color: $error;
}

.overlay {
  z-index: 1000;
}
.overlayModal {
  z-index: 1001;
}
.overlay, .overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.show {
    display: block;
  }
}

.input-error {
  border-color: $error;
}

h1 {
  @include h1-title-mobile;
}

h2 {
  @include h2-title-mobile;
}

h3 {
  @include h3-title-mobile;
}

a {
  color: $black;
}

.page {
  margin-top: 100rem;
}

.container, .breadcrumbs {
  max-width: 1300rem;
  margin: 0 auto;
  padding-right: 15rem;
  padding-left: 15rem;
}

.popular-products, .about-us {
  padding-top: 53rem;
}

.cat, .dog {
  font-weight: 500;
  text-transform: uppercase;
}

.cat {
  color: $cat;
}

.dog {
  color: $dog;
}

.headline {
  text-align: center;
}

.black-background {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: $transparent-white;
}

@include md {
  html,
  body {
    font-size: $text-size-tablet;
  }

  * {
    font-size: $simple-text-size;
  }

  .popular-products, .about-us {
    padding-top: 80rem;
  }

  h2 {
    @include h2-title;
    letter-spacing: -0.5px;
  }
  h3 {
    @include h3-title;
  }

}

@include lg {
  html,
  body {
    font-size: $text-size-desktop;
  }
  .popular-products, .about-us {
    padding-top: 141rem;
  }
}